<html>
  <head>
    <meta content="Xaine" property="og:title">
    <meta content="Xaine-bot Website" property="og:description">
    <meta content="https://xxxxxxxxxxxaa-w-e2340-2304-po32lk4k2l-3.glitch.me/home" property="og:url">
    <meta content="https://cdn.discordapp.com/avatars/774235071653216286/d78d0746dd6425325729f1f9e60f3bb6.png" property="og:image">
    <meta content="#29e61c" data-react-helmet="true" name="theme-color">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/774235071653216286/d78d0746dd6425325729f1f9e60f3bb6.png" type="image/x-icon"/>
    <style>
      .hg{
        text-align: center;
      }
      body{
        
      }
    </style>
  </head>
  <body>
    <h1 class="hg">
      Hoşgeldin <%=user.username%>
    </h1>
  </body>
</html>