<html>
  <head>
    <meta content="Xaine" property="og:title">
    <meta content="Xaine bot" property="og:description">
    <meta content="http://www.goodantispam.tk/" property="og:url">
    <meta content="https://cdn.discordapp.com/avatars/802937452053790730/e8367d40ed3e5465f5b1df82d88a0f2d.png?size=128" property="og:image">
    <meta content="#fff530" data-react-helmet="true" name="theme-color">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/774235071653216286/d78d0746dd6425325729f1f9e60f3bb6.png?size=128" type="image/x-icon"/>
  </head>
  <body>
    <h1>
      Hg <%=user.username%>
    </h1>
  </body>
</html>