<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Xaine Code | Topluluk | Bot Yardım | Kod Paylaşım">
    <meta name="keywords" content="kod, discord, bot, discord.js, copy, paste, copy paste, hazır kod, bot kodları">
    <meta name="copyright" content="Xaine Code">
    <meta name="author" content="Xaine Code">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://cdn.r10.net//image.php?u=60863" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/gerekli.css">
 
    
  </head>
  <body class="bg-dark text-white">  
    
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #363636;">
      <a class="navbar-brand" href="/"><img style="border-radius:50%" width="30" height="30" src="https://cdn.discordapp.com/avatars/774235071653216286/5bf1112105c2d8d84d80b2d561cf1db3.jpg?size=128">

        Xaine Code
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kodlar
            </a>
            <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
              <a class="dropdown-item font-weight-bold" href="/normal" style="color: #fffff;"><i class="fas fa-code"></i> JavaScript Kodlar</a>
              <a class="dropdown-item font-weight-bold" href="/altin" style="color: #ffcc00;"><i class="fas fa-code"></i> JavaScript+ Kodlar</a>
              <a class="dropdown-item font-weight-bold" href="/elmas" style="color: #00e6e6;"><i class="fas fa-code"></i>JavaScript++ Kodlar</a>
              <a class="dropdown-item font-weight-bold" href="/hazir" style="color: #ff4d4d"><i class="fas fa-code"></i> Alt Yapılar</a>
              <div class="dropdown-divider" style="border-top:1px solid #20262c"></div>
              <a class="dropdown-item font-weight-bold" href="/abone" style="color: #00e6e6;"><i class="fas fa-star"></i> Abonelere Özel</a>
              <div class="dropdown-divider" style="border-top:1px solid #20262c"></div>
              <a class="dropdown-item font-weight-bold" href="/topluluk"><i class="fas fa-code"></i> Sizden gelenler</a>
            </div>
          </li>
                      
                                <li class="nav-item">
              <a style="text-decoration:none" class="index-button1" href="/videodan"><i class="fab fa-youtube"></i> Video Alt Yapıları</a>
                         </li>
                      &nbsp;
          
                      <li class="nav-item">
              <a style="text-decoration:none" class="index-button4" href="/bakim"><i class="fab fa-youtube"></i> Videolar</a>
                         </li>
                      &nbsp;

          
         <div class="ccc">
           <a style="text-decoration:none" class="index-button2" href="/paylas"><i class="fas fa-code"></i> Kod Ekle</a>
          </div>  
          &nbsp;
                    
          <li class="nav-item">
            <a style="text-decoration:none" class="index-button3" href="/davet"><i class="fab fa-discord"></i> Discord Sunucumuz</a>
          </li>
          
          &nbsp;
        </ul>
           <a type="button" class="giris-yap" href="/login" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i> Giriş Yap</a>
      </div>
    </nav>
    
    
    <style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>Xaine Code | Ana Sayfa</title>
<br><br>
<title>Background-</title>
	<style> Rabel
		body {
			background: url(https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2F6dfbc74564ed8ed039734fa91b2d8f9a.gif?v=1601037145595) no-repeat fixed;
			background-size: 100%;
		}
	</style>

  <section id="intro">
  </section><!-- #intro -->
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/avatars/774235071653216286/5bf1112105c2d8d84d80b2d561cf1db3.jpg?size=128">
</div><br>
  <div class="testo">
        <h1 class="text-light font-weight-light">Xaine Code</h1>
    <h2 class="text-light font-weight-light">
       Topluluk | Bot Yardım | Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none" href="/davet" target="_blank"><font color="gold" <="" font="">Discord Sunucumuza</font></a><font color="gold" <="" font=""><font color="white" <="" font=""> Katılmanız Gerekmektedir
  </font></font></p><font color="gold" <="" font=""><font color="white" <="" font="">
      
  </font></font></div><font color="gold" <="" font=""><font color="white" <="" font="">

  <!-- <p class="h4 text-light font-weight-light"-->
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  <p></p> 
<div class="index-box">
<a href="/normal" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i> Normal Kodlar</a>
  <a href="/abone" style="text-decoration:none" class="index-button5"><i class="fas fa-code"></i> Abonelere Özel</a>
<a href="/altin" style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Altın Kodlar</a>
<a href="/elmas" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Elmas Kodlar</a>
<a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> Hazır Sistemler</a>

</div>
  
  
  <div class="btn-group mt-4">
    <a href="https://discord.com/oauth2/authorize?client_id=774235071653216286&amp;scope=bot&amp;permissions=8" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-robot"></i> Xaine Botumuz</a>
    <a href="https://www.youtube.com/channel/UCYknuG7i-4kKf82dKZJ7_8A" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-youtube"></i> Youtube Sayfamız</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </font></font></div><font color="gold" <="" font=""><font color="white" <="" font=""><br>
  <div class="container text-center">
<hr color="white">
      
  
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/avatars/774235071653216286/5bf1112105c2d8d84d80b2d561cf1db3.jpg?size=4096" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/avatars/774235071653216286/5bf1112105c2d8d84d80b2d561cf1db3.jpg" alt="XAİNE Logo">
                      </div>
                      
                  Xaine Code     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 50
                      </div>
                      <p> </p>
                        <p class="card-text">Xaine Code Güzel Ortamı Olan Public Kod Paylaşım Sunucusu</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                       <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/avatars/774235071653216286/5bf1112105c2d8d84d80b2d561cf1db3.jpg?size=4096" alt="Discord Partner"><h> Discord Sunucusu</h> 
                    <br>
                       <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/585764446178246657.png?v=1" alt="Discord Partner"><h>  Seviye Yok(0 Boost)</h> 
                    </div>
                    <div class="card-footer">                    
                        <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.gg/cMpAkTJ85t"><i class="fab fa-discord"></i><b>  Sunucuya Git</b></a>
                    </div>
                  </div>
      </div> 
      
      
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/avatars/774235071653216286/5bf1112105c2d8d84d80b2d561cf1db3.jpg?size=4096" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/avatars/774235071653216286/5bf1112105c2d8d84d80b2d561cf1db3.jpg?size=4096" alt="Pirate#5067">
                      </div>
                      
                  Xaine     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-check"></i> BOT
                      </div>
                      <p> </p>
                        <p class="card-text">Gelişmiş Türkçe Modersayon ve Eğlence Botu.</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffffff"></div>
                      <img style="width: 25px;" class=" certificate-role " src="https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2FDiscord-Logo-White.png?v=1600933208227" alt="Discord Partner"><h> Server Not Found</h> 
                    <br>
                    <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/avatars/774235071653216286/5bf1112105c2d8d84d80b2d561cf1db3.jpg?size=4096" alt="Discord Partner"><h>  Certified Bot</h> 
                    </div>
                    <div class="card-footer">                    
    <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.com/oauth2/authorize?client_id=774235071653216286&amp;scope=bot&amp;permissions=8"> <i class="fa fa-robot"></i><b>  Discord Botumuz</b></a>
                    </div>
                  </div>
      </div>      
    </div>
      
  <br>
<font color="white" size="5"><b>Kurucular</b></font>
      <div class="container text-center">
<hr color="white">
<br><br>
<br><br>

<div class="row">
<div id="avatar2">
 <a href="https://spiny-calico-taurus.glitch.me"> <img class="avatar" height="100" width="100" src="https://cdn.discordapp.com/avatars/822809020061712405/62747701bb4f0f4b5c10c45d7f446aa6.jpg?size=4096">
		<br>
		<font color="white">Ahmet Samet
                         Developer</font>
    
</a></div><a href="https://spiny-calico-taurus.glitch.me">
</a></div><a href="https://spiny-calico-taurus.glitch.me">

        <h class="text-light font-weight-light">
       Xaine Code. 2021 Tüm Hakları Saklıdır. Developer by 31
  </h>
  <br>
</a></div></font></font></main><font color="gold" <="" font=""><font color="white" <="" font=""><a href="https://spiny-calico-taurus.glitch.me">
    <br><br><br>
    
    </a><footer><a href="https://spiny-calico-taurus.glitch.me">
</a><div class="footeralt"><a href="https://spiny-calico-taurus.glitch.me">
</a><footer class="footer mt-auto py-3"><a href="https://spiny-calico-taurus.glitch.me">
</a><div class="container"><a href="https://spiny-calico-taurus.glitch.me">
</a><center><a href="https://spiny-calico-taurus.glitch.me">
</a><a style="color: #0069d9;">WebSitemize Hoş Geldin! Kodları ve Altyapıları Görmek İçin Giriş Yapman Gerekli.</a>
<br>
</center></div>
</footer></div>
    </footer>
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
  
</font></font></body></html>