<html>
  <head>
    <title>Menü</title>
    <style>
      .center1{
         height:100%;
         display:flex;
         } 

         .center2{
         margin:auto;
          height: 200px;
           width: 500px;
         }  
    </style>
  </head>
  <body>
    <center>
      <div class="center1">
        <button class="center2">
          Oluştur
        </button>
        <br><br>
        <button class="center2">
          Katıl
        </button>
      </div>
    </center>
  </body>
</html>