<html>
  <body>
    <h1 style="text-align: center; font-size: 30px;">
      LOL RICKROLLED
    </h1>
    <script>
      window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
    </script>
  </body>
</html>