<html>
  <head>
    <title>Xaine Bot - Kod Paylaşım</title>
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/774235071653216286/d78d0746dd6425325729f1f9e60f3bb6.png" type="image/x-icon"/>
  </head>
  <body>
    <form action="/action_page.">
      <input type="text" name="fname" autocomplete="off" id="code"><br>
      <input type="submit">
    </form>
  </body>
</html>