<link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/774235071653216286/ebccb2ef43cc310d90fb1b24e21afb4b.webp"/>
<html>
  <head>
    <title>Xaine Bot - Kod Paylaşım</title>
      
  <style>
   body{
        background-image: url('https://cdn.discordapp.com/attachments/726848744435482705/929353682787647588/31.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
  </style>

<link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/774235071653216286/d78d0746dd6425325729f1f9e60f3bb6.png" type="image/x-icon"/>
    <style>
      .kod{
        height: 500px;
        width: 1500px;
        margin: 40px;
        font-size: 15px;
      }
      .submit{
        height: 40px;
        width: 150px;
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <form action="/reedem" style="text-align: center;">
      <textarea type="text" name="fname" autocomplete="off" id="code" class="kod" placeholder="Buraya paylaşacağınız kodu yazın..."></textarea><br>
      <input type="submit" class="submit">
    </form>
  </body>
</html>