<html>
  <head>
    <title>Dosya Yükle</title>
  </head>
  <body>
    <h1>
      mp4 dosyası yükleyin
    </h1>
    <form action="/bok" type="POST">
      <input type="file" name="file" id="file">
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>