<html>
  <head>
    <title>Xaine Bot Hakkında</title>
  </head>
  <body>
    <h1>
<br>Türkiyenin en sevilen botlarından biri olan Xaine Bot!
<br>Sunucunun daha güvenli ve daha eğlenceli hale gelmesini sağlayan bir bot!
<br>---> +130 Dan fazla komut!
<br>---> +yardım ile tüm komutlarıma bakabilirsin!
<br>---> Bildir komutuyla botla ilgili şikayet ve öneride bulunabilirsin!
<br>---> Daha fazlası ve detaylı bakım için botu sunucuna ekleyebilirsin!
<br>---> Genel komutlar: yardım - bildir - davet - 
    </h1>
  </body>
</html>