<html>
  <head>
    <title>yazarsın bişi .d</title>
  </head>
  <body>
    <h1>
<\n>  Türkiyenin en sevilen botlarından biri olan Xaine Bot! </\n>
Sunucunun daha güvenli ve daha eğlenceli hale gelmesini sağlayan bir bot!
---> +130 Dan fazla komut! 
---> +yardım ile tüm komutlarıma bakabilirsin! 
---> Bildir komutuyla botla ilgili şikayet ve öneride bulunabilirsin!
---> Daha fazlası ve detaylı bakım için botu sunucuna ekleyebilirsin!
---> Genel komutlar: yardım - bildir - davet - 
    </h1>
  </body>
</html>