<link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/774235071653216286/ebccb2ef43cc310d90fb1b24e21afb4b.webp"/>
<html>
  <head>
<font  color = '0015FF'>
    <title>Xaine Bot Hakkında</title> 
  </head>
  <body>
    <h1>
<br>Türkiyenin en sevilen botlarından biri olan Xaine Bot!
<br>Sunucunun daha güvenli ve daha eğlenceli hale gelmesini sağlayan bot!
<br>---> +130 Dan fazla komut!
<br>---> +yardım ile tüm komutlarıma bakabilirsin!
<br>---> Bildir komutuyla botla ilgili şikayet ve öneride bulunabilirsin!
<br>---> Daha fazlası ve detaylı bakım için botu sunucuna ekleyerek hoşuna giderse kullanabilirsin!
<br>---> Genel komutlar: yardım - bildir - davet 
    </h1>
  </body>
</html>